@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500;700&display=swap");
/*
    font-family: 'Raleway', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/*font-family: 'Open Sans', sans-serif;*/


html {
  font-family: "Raleway", sans-serif !important;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-navbar {
  font-family: "Raleway", sans-serif !important;
  font-weight: 400;
}
.numbers-custom{
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400 ;
}

.text-custom-big {
  font-family: "Raleway", sans-serif !important;
  color: rgb(0, 120, 168);
  font-weight: 400;
  text-shadow: rgb(255, 255, 255) 1px 0 10px;
}
.text-custom-small {
  font-family: "Raleway", sans-serif !important;
  color: rgb(0, 120, 168) !important;
  font-weight: 500;
}

.text-custom-small-btn {
  font-family: "Raleway", sans-serif !important;
  color: rgb(0, 120, 168) !important;
  font-weight: 500;
}
.text-custom-small-btn:hover {
  color: rgb(240, 128, 43) !important;
}

.text-custom-small-link {
  font-family: "Raleway", sans-serif !important;
  color: rgb(0, 119, 255) !important;
  font-weight: 500;
}

.text-custom-small-link:hover {
  color: rgb(240, 128, 43) !important;
  font-weight: 700;
}

.grid-container{
  display: grid;
  grid-template-columns:  repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-top: 3rem;
  border-width: 1px;
  border-color: black;
}
.grid-cotainer-text{

}
@media (min-width: 800px) {
  .grid-container{
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-top: 3rem;
  }
}